# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

__debug_bin
.DS_Store
.history
.glide
.idea
.vscode
*.log
debug.test
debug
TODO.md
dist
Gopkg.lock
package-lock.json
public/static
/inputs
/node_modules
/output
/outputs
/static_resources
